<!DOCTYPE html>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Frameset//EN" "http://www.w3.org/TR/html4/frameset.dtd">	
<html>
	<head>
		<title>
			Location Tracker
		</title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <meta name="description" content="Location Tracker" />
        <meta name="keywords" content="Location Tracker"/>
	    <meta charset="utf-8" />
	    <script type="text/javascript" src="javascript/jquery-2.0.2.min.js"></script>
	   	<script type="text/javascript" src="javascript/jquery.validate.min.js"></script>
	    <script type="text/javascript" src="js/employee.js"></script>
	    <script type="text/javascript" src="js/map_.js"></script>
	    <script type="text/javascript" src="js/planned_details.js"></script>
	    <script type="text/javascript" src="js/http_req.js"></script>
	    <script type="text/javascript" src="js/employee_show_tree.js"></script>
	    <script type="text/javascript" src="js/filter_dropdown.js"></script>
	    <script type="text/javascript" src="js/user_auth.js"></script>
	    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
       <link rel="stylesheet" href="css/employee.css" />
       <link rel="stylesheet" href="javascript/jquery-ui.css" />
  		<script src="javascript/jquery-ui.js"></script>
 		 <script src="javascript/jquery.timepicker.js"></script>
       <link rel="stylesheet" href="javascript/jquery.timepicker.css" />
	
	</head>
	<body>
		<div class="container">
<!-- 		<div class="header">Location Tracker</div> -->  
    <div class="left_div">
  			<div id="map_canvas">
  				
  			</div>
        <!-- <div class="bottom_div">
          <img src="images/timeline_marker.png" id="timeline_marker"> 
          <ul id="timeline">
           <li id="9_00"><img src="images/timeline_marker.png" id="tm9_00"><a href="#">9am</a></li>
            <li id="9_30" class="dot"><img src="images/timeline_marker.png" id="tm9_30"><a href="#">.</a></li>
            <li id="10_00"><img src="images/timeline_marker.png" id="tm10_00"><a href="#">10am</a></li>
            <li id="10_30" class="dot"><img src="images/timeline_marker.png" id="tm10_30"><a href="#">.</a></li>
            <li id="11_00"><img src="images/timeline_marker.png" id="tm11_00"><a href="#">11am</a></li>
            <li id="11_30" class="dot"><img src="images/timeline_marker.png" id="tm11_30"><a href="#">.</a></li>
            <li id="12_00"><img src="images/timeline_marker.png" id="tm12_00"><a href="#">12noon</a></li>
            <li id="12_30" class="dot"><img src="images/timeline_marker.png" id="tm12_30"><a href="#">.</a></li>
            <li id="13_00"><img src="images/timeline_marker.png" id="tm13_00"><a href="#">1pm</a></li>
            <li id="13_30" class="dot"><img src="images/timeline_marker.png" id="tm13_30"><a href="#">.</a></li>
            <li id="14_00"><img src="images/timeline_marker.png" id="tm14_00"><a href="#">2pm</a></li>
            <li id="14_30" class="dot"><img src="images/timeline_marker.png" id="tm14_30"><a href="#">.</a></li>
            <li id="15_00"><img src="images/timeline_marker.png" id="tm15_00"><a href="#">3pm</a></li>
            <li id="15_30" class="dot"><img src="images/timeline_marker.png" id="tm15_30"><a href="#">.</a></li>
            <li id="16_00"><img src="images/timeline_marker.png" id="tm16_00"><a href="#">4pm</a></li>
            <li id="16_30" class="dot"><img src="images/timeline_marker.png" id="tm16_30"><a href="#">.</a></li>
            <li id="17_00"><img src="images/timeline_marker.png" id="tm17_00"><a href="#">5pm</a></li>
            <li id="17_30" class="dot"><img src="images/timeline_marker.png" id="tm17_30"><a href="#">.</a></li>
            <li id="18_00"><img src="images/timeline_marker.png" id="tm18_00"><a href="#">6pm</a></li>
            <li id="18_30" class="dot"><img src="images/timeline_marker.png" id="tm18_30"><a href="#">.</a></li>
            <li id="19_00"><img src="images/timeline_marker.png" id="tm19_00"><a href="#">7pm</a></li>
            <li id="19_30" class="dot"><img src="images/timeline_marker.png" id="tm19_30"><a href="#">.</a></li>
            <li id="20_00"><img src="images/timeline_marker.png" id="tm20_00"><a href="#">8pm</a></li>
          </ul>
        </div> -->
        
        <div class="show_details_top">
        	
        	<a href="#"><div class="legend"> LEGEND </div></a> 
        	<div class="show_details">
	         	<div class="show_details_left">
	         		<div class="planned show_details_left1"><div class="planned_rect"></div><span>Planned</span><!-- <input type="checkbox" id="planned_checked"> --></div>
	        		<div class="actual show_details_left1"><div class="actual_rect"></div><span>Actual</span><!-- <input type="checkbox" id="actual_checked"> --></div>
		        	<div class="black_dot11 show_details_left1"><div class="black_dot12"></div><span>Halt </span></div>
	         	</div>
	        	<div class="show_details_right">
	        		<div class="black_dot show_details_left1"><div class="black_dot1"></div><span>Start of the day </span></div>
		        	<div class="gmap_pin show_details_left1"><img src="images/our-new-pin.png" class="gmap_pin_img"><span>Position </span></div>
		        	<div class="gmap_pin_current show_details_left1"><img src="images/timeline_marker.png" class="gmap_pin_img"><span>Last Known Place </span></div>
	        	</div>
        	</div>
         </div>
        
      </div>
	<div class="right_div">
		<div class="user_area">
			<div class="header">		
          		<div id="tracker">
           			 Location Tracker
         		 </div>
          		<a href="#"><img src="images/logout.png" id="logout"></a>
          	</div>
          	<div id="user_name">
	          	<span id="manager_name">Ajay</span>
	            <span id="post_">Area sales manager (chennai)</span>
            
        	</div>
		</div>
		 <div class="employee_list">
	         <div class="emp_left">
	            <img src="images/calendar_icon.png" id="calendar-icon">
	            <img src="images/time_icon.png" id="calendar-icon1">
	          </div>
			 <div class="emp_right">
            <input type="text" id="date">
            <input type="text" id="time">

            <div class="planned_path_checked">
            	<input type="checkbox" id="planned_checked">
            	<span class="planned_checked_span">Show Planned Only</span>
            </div>
            <div class="emp_list" id="emp_list">
            </div>
            <div class="emp_list1" id="emp_list1">
            </div>
            <div class="emp_list2" id="emp_list2">
            	<div class="fiter_tags tog">
						<!-- <div class="filter_t">
							 <span>City | </span> 
							 <select class="filter_select">
								<option>Chennai</option>
								<option>Madurai</option>
								<option>Coimbatore</option>
								<option>Trichy</option>
							</select> 
						<img src="img/tag-close.png"  class="tag-close"/>
						</div> -->
						
						<div class="filter_t company_ filter_t12">
							<div class="filter_type filter_type1">Company</div>
							<select class="filter_select" id="company_picker" onchange="filter_change('company')">
								<!-- <option></option>
								<option>WWCV</option>
								<option>FMCL</option> -->
							</select>
						</div>
						
							<div class="filter_t md_ filter_t12">
							<div class="filter_type filter_type1">MD</div>
							<select class="filter_select" id="md_picker" onchange="filter_change('md')">
								<!-- <option></option>
								<option>Govindasamy</option>
								<option>Guna</option> -->
							</select>
						</div>
						
						<div class="filter_t gm_ filter_t12">
							<div class="filter_type filter_type1">GM</div>
							<select class="filter_select" id="gm_picker" onchange="filter_change('gm')">
								<!-- <option></option>
								<option>Govindasamy</option>
								<option>Guna</option> -->
							</select>
						</div>
						
						<div class="filter_t nsm_ filter_t12">
							<div class="filter_type filter_type1">NSM</div>
							<select class="filter_select" id="nsm_picker" onchange="filter_change('nsm')">
								<!-- <option></option>
								<option>Narayanan</option>
								<option>Nagaraj</option> -->
							</select>
				<!-- <img src="img/2013-05-18 11.59.18.jpg"  class="tag-close" id="tag-close1" onclick="toggle_close(1)"/> -->						</div>
						
						
						<div class="filter_t rsm_ filter_t12">
							<div class="filter_type filter_type1">RSM</div>
							
							<select class="filter_select" id="rsm_picker" onchange="filter_change('rsm')">
								<!-- <option></option>
								<option>Raj</option>
								<option>Ram</option> -->
							</select>
						</div>
						<div class="filter_t asm_ filter_t12">
							<div class="filter_type filter_type1">ASM</div>
							
							<select class="filter_select" id="asm_picker" onchange="filter_change('asm')">
								<!-- <option value=""></option>
								<option value="2">Anand</option>
								<option value="3">Alok</option>
								<option value="4">Akshay</option> -->
							</select>
						</div>
						
						
						
						<div class="filter_t sr_ filter_t12">
							<div class="filter_type filter_type1">SR</div>
							
							<select class="filter_select" id="sr_picker" onchange="filter_change('sr')">
								<!-- <option value=""></option>
								<option value="2">Swamy</option>
								<option value="3">Sakthi</option>
								<option value="4">Samson</option> -->
							</select>						
						</div>
						<!-- <span class="rating_style filter_t4" >Ratings Above</span>
						<div class="maxrating">
							
						</div> -->
					</div>
            	
            </div>
            
          </div>
		 	<div class="emp_right1">
				<a href="#"><span id="date_now">Today</span></a>
            	<a href="#"><img id="time_now" src="images/timeline_marker.png"/></a>		 	
           	</div>
		 </div>
         <div class="emp_search">
	          <img src="images/search_icon.png" id="search_icon">
	          <input type="text" id="emp_search" placeholder="Search for Sales man">
         </div>
         
	</div>
		<div class="show_planned_path_details">
			<div class="sales_rep_planned_details" id="sales_rep_planned_details">
			</div>
				
		</div>
		</div>
		
		<div class="login">
            	<div class="grey">
            	</div>
            	<div class="login_div">
            		<p>Location Tracker</p>
            		<div>
            			<!-- <form> -->
	            		<input type="text" placeholder="User Name" id="usr_name" />
	            		<input type="password" placeholder="Password" id="password"/>
	            		<input type="submit" value="Login" id="login_button">
	            		<!-- </form> -->
	            	</div>
            	</div>
			</div>		
			
			
			<div class="admin">
            	<div class="grey">
            	</div>
            	<div class="admin_div">
            		<p>Admin</p>
            		
            		<div class="create_new_user_content">
		             	<div class="list__"><span>Employee code </span><input type="text" placeholder="Employee code" id="employee_code"/></div>
		             	<div class="list__"><span>Name</span><input type="text" placeholder="Employee Name" id="employee_name"/></div>
		             	<div class="list__"><span>Desgination</span><input type="text" placeholder="Desgination" id="desgination"/></div>
		             	<div class="list__"><span>Password </span><input type="password" placeholder="Password" id="employee_password"/></div>
		             	<div class="list__"><span>Confirm Password </span><input type="password" placeholder="Confirm Password" id="employee_confirm_pwd"/></div>
		             	<div class="list__"><span>Employee Role</span>
		             		<div class="list__div">
		             				<select class="filter_select employee_role" id ="employee_role">
		             					<!-- <option value></option>
		             					<option value="FMCL">FMCL</option>
		             					<option value="WWCV">WWCV</option>
		             					<option value="KD">KD</option>
		             					<option value="FMCL KD">FMCL KD</option>
		             					<option value="ALL">ALL</option> -->
		             					
		             				</select>
		             		</div>
		             	</div>
		             	<div class="save_new_user">Save</div>
		             	<div class="logout_admin">logout</div>
		             </div>
            		
            	</div>
			</div>	
	</body>

</html>