<%= form_for(@employee_role) do |f| %>
  <% if @employee_role.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@employee_role.errors.count, "error") %> prohibited this employee_role from being saved:</h2>

      <ul>
      <% @employee_role.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
