<h1>Listing company_details</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @company_details.each do |company_detail| %>
  <tr>
    <td><%= link_to 'Show', company_detail %></td>
    <td><%= link_to 'Edit', edit_company_detail_path(company_detail) %></td>
    <td><%= link_to 'Destroy', company_detail, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Company detail', new_company_detail_path %>
